extends layout
block content
  h1 Categorias
  button(type="button" class="btn btn-lg" data-toggle="modal" data-target="#add") Add 
    span(class="glyphicon glyphicon-plus") 
  div(class="container")
    div(class="row")    
      div(class="col-md-12")
        div(class="table-responsive")
          table(id="mytable" class="table table-bordred table-striped")
            thead
              th Id
              th Name 
              th(align="center") 
                span(class="glyphicon glyphicon-cog")
            tbody
              each val in lista
                tr
                td Mohsin
                td Irshad
                td
                  div(class="btn-group" data-toggle="buttons")
                    button(class="btn btn-primary btn-xs" data-title="Edit"       data-toggle="modal" data-target="#edit")
                      span(class="glyphicon glyphicon-pencil")
                    button(class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete")
                      span(class="glyphicon glyphicon-trash")
                        
        div(class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="add" aria-hidden="true")
          div(class=" modal-dialog")
            div(class="modal-content")
              div(class="modal-header")
                button(type="button" class="close" data-dismiss="modal" aria-hidden="true")
                  span(class="glyphicon glyphicon-remove" aria-hidden="true")
                h4(class="modal-title custom_align" id="Heading") Add new
              div(class="modal-body")
                div(class="form-group")
                  input(class="form-control " type="text" placeholder="Mohsin")
                div(class="form-group")
                  input(class="form-control " type="text" placeholder="Irshad")
              div(class="modal-footer ")
                button(type="button btn-primary" class="btn btn-lg" style="width: 100%;") Add 
                  span(class="glyphicon glyphicon-ok-sign")  
                      
        div(class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true")
          div(class=" modal-dialog")
            div(class="modal-content")
              div(class="modal-header")
                button(type="button" class="close" data-dismiss="modal" aria-hidden="true")
                  span(class="glyphicon glyphicon-remove" aria-hidden="true")
                h4(class="modal-title custom_align" id="Heading") Edit Your Detail
              div(class="modal-body")
                div(class="form-group")
                  input(class="form-control " type="text" placeholder="Mohsin")
                div(class="form-group")
                  input(class="form-control " type="text" placeholder="Irshad")
              div(class="modal-footer ")
                button(type="button" class="btn btn-warning btn-lg" style="width: 100%;") Update 
                  span(class="glyphicon glyphicon-ok-sign") 
                  
        div(class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true")
          div(class=" modal-dialog")
            div(class="modal-content")
              div(class="modal-header")
                button(type="button" class="close" data-dismiss="modal" aria-hidden="true")
                  span(class="glyphicon glyphicon-remove" aria-hidden="true")
                h4(class="modal-title custom_align" id="Heading") Delete this Entry
              div(class="modal-body")
                div(class="alert alert-danger") Are you sure you want to delete this Record?
                  span(class="glyphicon glyphicon-warning-sign") 
                div(class="modal-footer ")
                  button(type="button" class="btn btn-success") Yes 
                    span(class="glyphicon glyphicon-ok-sign") 
                  button(type="button" class="btn btn-default" data-dismiss="modal") No 
                    span(class="glyphicon glyphicon-remove")  
