extends layout

block content
  div(class="jumbotron")
    form(data-bind="submit: login")
      input(data-bind="value: Nick" type="text")
      input(data-bind="value: Pass" type="text")
      input(type="submit" value="login")
