extends layout
block content
  div(class="container")
    div(class="row")
      div(class="col-md-12")
        div(class="well login-box")
          form(data-bind="submit: login")
            legend Login
            div(class="form-group")
              label(for="username-email") E-mail or Username
              input(data-bind="value: Nick" id="username-email" placeholder="E-mail or Username" type="text" class="form-control")
            div(class="form-group")
                label(for="password") Password
                input(data-bind="value: Pass" id="password" placeholder="Password" type="text" class="form-control")
            div(class="form-group text-center")
                button(class="btn btn-danger btn-cancel-action")  Cancel
                input(type="submit" class="btn btn-success btn-login-submit" value="Login")
